.fDyLEe {
    --tw-border-opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
  }
  
  .fMiZow {
    --tw-border-opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    transition: all 0.2s ease;
  }
  
  .gNNNDn .status-bar {
    background-color: rgba(0, 0, 0, 0) !important;
    border-width: 1px;
    border-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  }
  
  .bWDyeO .status-bar {
    background-color: rgba(0, 0, 0, 0) !important;
    border-width: 1px;
    border-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  }
  
  .dafkym {
    background-color: rgba(0, 0, 0, 0);
    border: solid;
    border-width: 1px;
    border-color: rgba(239, 68, 68, var(--tw-bg-opacity));
  }
  
  .gvwgeg {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .bg-gray-700 {
    --tw-border-opacity: 1;
    border: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    transition: all 0.2s ease;
  }
  
  .qcYCQ {
    background-color: rgba(0, 0, 0, 0);
  }
  
  div.grid.grid-cols-6.gap-2 div[class*="style-module_"] {
    --tw-border-opacity: 1;
    border: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    transition: all 0.2s ease;
  }
  
  div.space-x-2[class*="style-module_"] {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  
  input.peer {
    --tw-border-opacity: 1;
    border: solid !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease !important;
  }
  
  div[class*="style-module_"].group {
    --tw-border-opacity: 1;
    border: solid !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease !important;
  }
  
  .hOqWtL,
  .EHLda {
    --tw-border-opacity: 1;
    border: solid !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease !important;
  }
  
  
  
  .jXaIOX {
    --tw-border-opacity: 1;
    border: solid !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease !important;
  }
  
  .style-module_ + eOszjPe,
  .style-module_neAjAdGf,
  .style-module_\+eOszjPe:disabled {
    background-color: rgba(0, 0, 0, 0) !important;
    border: solid !important;
    border-width: 1px !important;
    border-color: rgba(22, 163, 74, var(--tw-bg-opacity)) !important;
  }
  
  .style-module_U8zK4bgG {
    background-color: rgba(0, 0, 0, 0);
    border: solid !important;
    border-width: 1px !important;
    border-color: rgba(107, 114, 128, var(--tw-bg-opacity)) !important;
  }
  
  .style-module_oihp0iR3 {
    background-color: rgba(0, 0, 0, 0);
    border: solid !important;
    border-width: 1px !important;
    border-color: rgba(220, 38, 38, var(--tw-bg-opacity)) !important;
  }
  
  .gmqjLD div[class*="style-module_"]{
  
    --tw-border-opacity: 1;
    border: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    transition: all 0.2s ease;
  
  }
  
  .kPivqU div[class*="style-module_"] {
      border: none !important;
  }
  
  .relative * {border: none !important;}

  
  div[class*="iMnqv"] {
    --tw-border-opacity: 1;
    border: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(55, 65, 81, var(--tw-border-opacity));
    transition: all 0.2s ease;
  }
  
  .ihtXtp {  --tw-border-opacity: 1 !important;
    border: solid  !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease;}
  
  .kQa-DiE, .biBgho {--tw-border-opacity: 1 !important;
    border: solid  !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease;}
  
    .bg-neutral-800 {
      background-color: rgba(0,0,0,0);
    }
  
    div.shadow-2xl.bg-gray-900 {--tw-border-opacity: 1 !important;
    border: solid  !important;
    border-width: 1px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(55, 65, 81, var(--tw-border-opacity)) !important;
    transition: all 0.2s ease;}